.basket-title {
    padding: 10px;
    color: rgb(58, 99, 146);
}

.btn-basket {
    padding-top: 10px;
}

.goods-to-order {
    min-width: 1000px;
    min-height: 800px;
}

.form-basket {
    margin-left: 20px;
}